@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

.main-content {
  padding: 20px;
  height: 93%;
  box-shadow: 4px 4px 7px 0px #929292;;
  background-color: rgba(255, 255, 255, 0.4);  
}

.tb {
  
  width: 100%;
  background-color: #fffb;
}

.tb .table_header{
  padding: .8rem 1rem;
  height: 40px;
}

.tb .table_body {
  padding: .8rem;
  border-radius: .6rem;
}

.tb .table_body tr {
  height: 50px;
  position: relative;
}

.tb .table_body tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.main-skills .content {
  width: 100%; 
 
}

.infogroup-container {
  box-shadow: 4px 4px 7px 0px #929292;
  border-radius: 4px;
  background:white;
  background-color: white;  
  margin: 5px;
}

.content-header {
  margin: 20px;
}

.bottom {
  bottom: 10px;
}
